@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	padding: 20px 50px;
	margin: 0 0;
	height: 100vh;
	width: 100vw;
}

.box1 {
	background-color: #24053e;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
    height: 40rem;
}

nav {
	padding: 56px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	font-family: Inter;
	color: white;
}

.ApplyForAccess:hover {
	color: #44ffa1;
	border-bottom: solid #44ffa1 3px;
}

.ApplyForAccess {
	color: white;
	background-color: #24053e;
	border: none;
	border-bottom: solid #44ffa1 3px;
}

h1 {
	color: white;
	font-size: 75px;
}

.tailored {
    border-bottom: solid #44ffa1 2px;
}

.box1_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.LearnMore {
    background-color: #44ffa1;
    padding: 0.7rem 1.2rem;
    border: none;
    cursor: pointer;
}

.LearnMore:hover {
    background-color: #24053e;
    border: solid #44ffa1 1px;
}

img {
    z-index: 2;
    margin-top: 88px;
    position: absolute;
    
}

















